// Define input parameters
params {
    reads        = 'data/*_R{1,2}.fq.gz'  // Input reads (if needed for other processes)
    annotation   = 'data/annotation.gtf.gz'   // Annotation file (if relevant for other processes)
    output_directory   = 'results_dragen'      // Directory to store output files
    check_script = 'Script_rp/check_metrics.py'    // Path to the Python script
    merge_script =  'Script_rp/merge_quant_files.py' // Path to the Python script
    r_script = "Script_rp/deg_Deseq2.r"
    r_script_ckSD = "Script_rp/check_SD.r"
    study_desgin = "data/studydesign.csv"
    DEG = "the_aim"
}


process {

    withName:RunMetricsCheck {
        container = 'continer/python-pandas.sif'
        executor = 'local'
        memory = '2 GB'
        time = '1h'
    }

    withName:Margequant {
        container = 'continer/python-pandas.sif'
        executor = 'local'
        memory = '2 GB'
        time = '1h'
    }


    withName:CheckSD {
        container = 'continer/con_DEseq2.sif'
        executor = 'local'
        memory = '12 GB'
        time = '1h' 
        
        
    }

    withName:DEGane {
        container = 'continer/con_DEseq2.sif'
        executor = 'local'
        memory = '12 GB'
        time = '1h' 
        
        
    }
}

singularity {
   enabled = true
}